.marker-button {
    position: absolute; /* O también puedes usar fixed */
    top: 50%; /* Puedes ajustar el valor para posicionarlo verticalmente */
    left: 50%; /* Puedes ajustar el valor para posicionarlo horizontalmente */
    z-index: 10; /* Asegúrate de que el botón se vea encima de otros elementos */
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#purace{
    transform: translate(-1355%, -100%); /* Centra el botón en el punto dado */
}

#rio-cauca{
    transform: translate(-100%, 420%); /* Centra el botón en el punto dado */
}

#pacifico{ 
    transform: translate(1200%, 100%); /* Centra el botón en el punto dado */
}


.map-marker{
    cursor:pointer;
    transition: .5s;
}

.map-marker:hover {
    transform: translateY(-0.5rem);
}

